@model ProductVM
<div class="card shadow border-0 my-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white pt-2">@(Model.Product.Id != 0 ? "Update":"Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-controller="Product" asp-action="Upsert" method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden/>
            <input asp-for="Product.ImageURL" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Title" class="form-control border-0 shadow" />
                            <label asp-for="Product.Title" class="ms-2"></label>
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="Product.Description" class="form-control border-0 shadow"></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Author" class="form-control border-0 shadow" />
                            <label asp-for="Product.Author" class="ms-2"></label>
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.ISBN" class="form-control border-0 shadow" />
                            <label asp-for="Product.ISBN" class="ms-2"></label>
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="Product.CategoryID" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option value="">Select Category</option>
                            </select>
                            <label asp-for="Product.Category" class="ms-2"></label>
                            <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="imageFile" id="imageFile" class="form-control border-0 shadow" />
                            <label for="imageFile" class="ms-2">Cover Image</label>
                        </div>
                        @*<div class="row">
                            <div class="form-floating py-2 col-6">
                                <input asp-for="Product.Price" class="form-control border-0 shadow" />
                                <label asp-for="Product.Price" class="ms-2"></label>
                                <span asp-validation-for="Product.Price" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-6">
                                <input asp-for="Product.ListPrice" class="form-control border-0 shadow" />
                                <label asp-for="Product.ListPrice" class="ms-2"></label>
                                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                            </div>
                        </div>*@
                        <div class="row text-center mt-3">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.Id == 0)
                                {
                                    <button type="submit" class="btn btn-dark shadow-none form-control">Create</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-dark shadow-none form-control">Update</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-dark shadow-none form-control">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    @if (!string.IsNullOrEmpty(Model.Product.ImageURL))
                    {
                        <img src="@Model.Product.ImageURL" width="100%" style="border-radius:5px;border:1px solid #bbb9b9" />
                    }
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
}