@model int


<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is <strong>@Model</strong>
        <br />
        <br />
        <img src="~/images/success.png" />
        <div class="col-12 text-center" stlye="color:maroon">
            <br />
            Your order has been placed successfully.
        </div>
    </div>
</div>